<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>readArticle</title>
    <link rel="stylesheet" type="text/css" href="css/test.css"
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
    #forpadding{
        padding-top: 100px;
    }
</style>
<script>
    $(document).ready(function () {
        <!--페이지가 로드됐을때 실행-->
        let id = window.location.href.split("=")[1]
        getArticle(id);
    })

    function getArticle(id) {
        $.ajax({
            type: 'GET',
            url: `/api/boards/${id}`,
            success: function (response) {
                let board = response;
                let contents = board.contents;
                let username = board.username;
                let title = board.title;
                let countview = board.countview;
                let createdAt = board.createdAt;
                addHTML(title, countview, username, createdAt, contents,id)
            }
        })
    }

    function addHTML(title, countview, username, createdAt, contents,id) {
        let temp_html = `<div class="view_content_wrap">
    <header>
        <div class="gallview_head clear ub-content">

            <h3 class="title ub-word"><span class="title_subject">${title}</span></h3>

            <div class="gall_writer ub-writer" data-uid="" data-loc="view">
                <div class="fl">
                    <span class="nickname"><em>${username}</em></span><span class="gall_date"
                                                                            >작성일자: ${createdAt}</span>
                </div>
                <div class="fr">
                    <span class="gall_count">조회수: ${countview}</span>


                </div>
            </div>
        </div>
    </header>
    <div class="gallview_contents">
        <div class="inner clear">
            <div class="writing_view_box">

                <div class="write_div" style="overflow:hidden;width:900px;">
                    <div>${contents}</div>
                    <br></div>
            </div>

        </div>
    </div>
</div>
<div id="forpadding">
    <div align="left">
        <button type="button" class="btn btn-primary btn-sm" onclick="editPost('${id}')">글수정</button>
        <button type="button" class="btn btn-secondary btn-sm" onclick="delPost('${id}')">글삭제</button>
    </div>
</div>`
        $('#addhere').append(temp_html);
    }


    function delPost(id){
        $.ajax({
            type: "DELETE",
            url: `/api/boards/${id}`,
            success: function (response) {
                alert('메시지 삭제에 성공하였습니다.');
                location.replace("/index.html")
            }
        })
    }

    function editPost(id){
        location.href=`/modify.html?id=${id}`
    }
</script>
<body>
<div id="addhere">
</div>
</body>
</html>